<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main feed 페이지</title>
</head>

<body>
  <h1>Main feed 페이지</h1>

  <br>

  <h3>* 새 글 작성 *</h3>
  <form method="post" th:action="@{/feeds}">
    <input type="hidden" name="writerUserId" th:value="${userId}">
    <textarea name="content" placeholder="글 내용 입력"></textarea>
    <button type="submit">new post 작성완료</button>
  </form>

  <br>

  <button th:onclick="'location.href=\'' + @{/users/{userId}(userId=${userId})} + '\''">Friends 페이지로 이동하기</button>

  <br>

  <ul>
    <li th:each="feedResponseDto : ${feedResponseDtos}">
      <hr>
      <h2>글</h2>

      <strong>-&nbsp&nbsp수정시각:</strong>&nbsp&nbsp<span th:text="${feedResponseDto.feed.modifiedDate}"></span>
      <br>
      <strong>-&nbsp&nbsp내용:</strong>&nbsp&nbsp<span th:text="${feedResponseDto.feed.content}"></span>
      <br>
      <strong>-&nbsp&nbspLike:</strong>&nbsp&nbsp<span th:text="${feedResponseDto.feed.likeCount}"></span>&nbsp개

      <form method="post" th:action="@{/like-feed/{feedId}(feedId=${feedResponseDto.feed.id})}">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="username" th:value="${feedResponseDto.username}">
        <input type="hidden" name="boolLike" th:value="${!feedResponseDto.boolLike}">
        <button th:if="${feedResponseDto.boolLike == false}" type="submit">Like 누르기</button>
        <button th:if="${feedResponseDto.boolLike == true}" type="submit">Like 취소하기</button>
      </form>

      <form method="post" th:action="@{/feeds/{feedId}(feedId=${feedResponseDto.feed.id})}">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="username" th:value="${feedResponseDto.username}">
        <button type="submit">delete post 삭제확인</button>
      </form>

      <br>

      ----------------------------
      <h2>댓글</h2>

      <ul>
        <li th:each="comment : ${feedResponseDto.comments}">

          <strong>-&nbsp&nbsp내용:</strong>&nbsp&nbsp<span th:text="${comment.content}"></span>
          <br>
          ------------

        </li>
      </ul>

      <h3>* 새 댓글 작성 *</h3>
      <form method="post" th:action="@{/feeds/{feedId}/comments(feedId=${feedResponseDto.feed.id})}">
        <input type="hidden" name="writerUserId" th:value="${userId}">
        <textarea name="content" placeholder="글 내용 입력"></textarea>
        <button type="submit">new comment 작성완료</button>
      </form>

      <br><hr>
    </li>
  </ul>

</body>
</html>