<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main 페이지</title>
</head>

<body>
  <br>
  <h1 style="display: inline;">< Main 페이지 ></h1><br>
  <h2 style="display: inline; color: red;">!!! 주의: 새로운 데이터가 바로 안뜰시에는, 캐시 및 로딩때문이므로 재로그인 해주시면 됩니다 !!!</h2><br><br>
  <button th:onclick="'location.href=\'' + @{/201921003/users/{userId}/search(userId=${userId},order=${'all-song'})} + '\''">create playlist</button>

  <br><br>

  <style>
    .playlist-item {
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 5px;
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .playlist-item:hover {
        background-color: #f0f0f0;
    }
  </style>

  <h2>- Playlist 목록들(제목) -</h2>
  <h3>클릭시 해당 플레이리스트를 조회합니다</h3>
  <ul>
    <li th:each="playlistResponseDto : ${playlistResponseDtos}">
<!--      <hr>-->
      <div class="playlist-item" th:onclick="'location.href=\'' + @{/201921003/playlists/{playlistId}(playlistId=${playlistResponseDto.id})} + '\''">
        <strong><span th:text="${playlistResponseDto.title}"></span></strong>
      </div>
<!--      <hr>-->
    </li>
  </ul>

</body>
</html>