<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search 페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
  <h1 style="display: inline;">< Search 페이지 (!! 주의: 로딩시간 오래걸립니다 !!) ></h1><br>
  <button th:onclick="'location.href=\'' + @{/users/{userId}/main(userId=${userId})} + '\''">> Main 페이지로 이동하기</button>

  <br><br>

  검색창 및 정렬
  <!-- 여기 검색창 -->

  <br>

  <h2>노래 목록들</h2>
  <ul>
    <li th:each="songResponseDto : ${songResponseDtos}">
      <hr>

      <strong>-&nbsp&nbsp가수 이름:</strong>&nbsp&nbsp<span th:text="${songResponseDto.singer}"></span>
      <br>
      <strong>-&nbsp&nbsp노래 제목:</strong>&nbsp&nbsp<span th:text="${songResponseDto.title}"></span>
      <br>
      <strong>-&nbsp&nbsp장르:</strong>&nbsp&nbsp<span th:if="${songResponseDto.genre != null}" th:text="${songResponseDto.genre.substring(0, songResponseDto.genre.lastIndexOf(','))}"></span><span th:if="${songResponseDto.genre == null}">장르 미정</span>

      <form method="post" th:action="@{/songs/{songId}(songId=${songResponseDto.id})}">
        <input type="hidden" name="_method" value="put">
        <input name="genre" placeholder="추가할 장르 입력"><br>
        <button type="submit">장르 추가완료</button>
      </form>
      <br>

      <button class="songToggle">=> 플레이리스트에 추가 (추가 옵션 열기)</button>
      <br>
      -----------------<br>
      <div class="content" style="display: none;">
        <strong><div>+ 기존의 내 플레이리스트에 노래 추가</div></strong>
        <ul>
          <li th:each="playlist : ${playlists}">
            <strong><span th:text="${playlist.title}"></span></strong>&nbsp
            <form method="post" style="display: inline;" th:action="@{/users/{userId}/playlists/{playlistId}(userId=${userId},playlistId=${playlist.id})}">
              <input type="hidden" name="songId" th:value="${songResponseDto.id}">
              <button type="submit"><- 추가완료</button>
            </form>
          </li>
        </ul>
        <br>
        ------
        <strong><div>+ 새로운 플레이리스트를 생성하고 노래 추가</div></strong>
        <form method="post" th:action="@{/users/{userId}/playlists/songs/{songId}(userId=${userId},songId=${songResponseDto.id})}">
          <input name="title" placeholder="플레이리스트 제목 입력"><br>
          <input name="content" placeholder="플레이리스트 내용 입력"><br>
          <button type="submit">추가완료</button>
        </form>
        -----------------
      </div>

      <hr>
    </li>
  </ul>


  <script th:inline="javascript">
    $(document).ready(function() {
        $(".songToggle").click(function() {
            $(this).next().next().next(".content").toggle();
        });
    });
</script>

</body>
</html>